{% extends 'videos/base.html' %}


{% block 'body' %}
<div class="container"><a href="/create" class="blue-link">Create account</a>
        <a href="/login" class="blue-link">Log In</a></div>
    <p></p>
    {% for video in videos %}

        <div class="video_container">
            <a href="/view/{{video.id}}" class="no-underline">
            <img src="{{ video.cover.url }}" width="300" height="200" alt="{{video.title}}">
            <h3>{{video.title}}</h3>
            <h6>{{video.uploaded_at}}</h6>
            </a>
        </div>
    {% endfor %}


{% endblock %}